a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
.button,
.nav_li,
.item-text {
  font-family: "DM Sans";
}

.about-text,
.item-li {
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.header {
  background: rgba(255, 113, 67, 0.27);
  padding: 38px 0 48px;
}

.nav_li {
  display: inline-block;
}

.nav_link {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
  text-decoration: none;
  transition: 300ms;
}

.button {
  width: 212.39px;
  height: 60px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
}

.button-orange {
  background: #ff7143;
}

.about-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191b;
  max-width: 467px;
  margin-bottom: 30px;
}

.about-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
  max-width: 464px;
  margin-bottom: 50px;
}

.button-violet {
  background: #5454d4;
}

.button-tpansparent {
  background: none;
  color: #5454d4;
  border: 1px solid #5454d4;
  margin-left: 35px;
}

.button-item {
  width: 285px;
  background: white;
  color: #5454d4;
  margin-top: 36px;
}

.footer {
  background: rgba(255, 113, 67, 0.27);
  padding: 53px 0 53px;
}

.header-flex,
.footer-flex,
.about,
.subscribe,
.plan-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  margin: 104px auto 85px;
}

.subscribe {
  margin-bottom: 85px;
}

.plan {
  margin-bottom: 132px;
}

.subscribe-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191b;
  margin-bottom: 38px;
}

.plan-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: #19191b;
  max-width: 504px;
  margin-bottom: 110px;
}

.input {
  width: 302px;
  height: 60px;
  border: 1px solid #7087ff;
  border-radius: 10px;
  padding-left: 14px;
  box-sizing: border-box;
  margin-right: 39px;
}

.item {
  width: 330px;
  background: #f8f8f8;
  border-radius: 10px;
  text-align: center;
  padding: 34px 0 27px;
  transition: all 200ms ease-in-out;
}

.item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.562737px;
  color: #696871;
}

.item-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  letter-spacing: -1.03448px;
  color: #1d293f;
  margin: 22px 0 28px;
}

.item-title span {
  font-weight: 700;
  font-size: 28px;
}

.item-li {
  list-style: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  letter-spacing: -0.531474px;
  color: #696871;
}

.nav_link:hover {
  color: #19191b;
}

.button-orange:hover {
  background: #ff8258;
}

.button-violet:hover {
  background: #5d5de6;
}

.item:hover {
  background: #ff7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.item:hover .item-text,
.item:hover .item-title,
.item:hover .item-li {
  color: white;
}

.item:hover .button-item {
  background: #9f3919;
  color: white;
}

.nav_li:not(:first-of-type) {
  margin-left: 49px;
}

.input:focus {
  outline: none;
}

.input::placeholder,
.input {
  font-weight: 100;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
}
